
body{
    font-size: 13px;
    font-family: "Noto Sans";
    margin: 0;
    padding: 0;
}
.video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(max-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
    }
}
.img-bg img{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.slick-dots{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 20px;
    right: 8%;
    display: flex !important;
    align-items: center;
    gap: 0 10px;
}
.slick-dots button{
    font-size: 0;
    width: 8px;
    height: 12px;
    border-radius: 100rem;
    border: none;
    background-color: #ffffff5a;
    outline: none;
}
.slick-dots .slick-active button{
    background-color: rgb(33, 125, 230);
}

.slick-initialized .slick-slide{
    position: relative;
}
.title-bg-slider{
    position: absolute;
    bottom: 25%;
    margin: 0 auto;
    left: 200px;
    color:#fff;
}
.title-bg-slider p{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
}
.title-bg-slider h1
{
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin: 0;
}
@media screen and (max-width: 819px){
    .title-bg-slider p{
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .title-bg-slider h1
    {
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;
        margin: 0;
    }
}
.title-bg-slider .slider2
{
    position: absolute;
    bottom: 25%;
    margin: 0 auto;
    left: 200px;
    color: #fff;
}
#main-menu >div >div{
    padding-left: 50px;
    padding-right: 50px;
   
}
#main-menu{
    position: absolute;
    top:0;
    width: 100%;
}
#main-menu .sub-menu{
    display: flex;
    justify-content: space-between;
}
#main-menu .sub-menu>ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-menu .sub-menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    color: rgba(255,255,255,.7);
}
#main-menu .sub-menu a:hover
{
    color: orange;
}
.nav-bar{
    padding-top: 30px;
    padding-bottom: 30px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo img
{
    width: 100px;
    height: 70px;
}
.menu-nav{
    display: flex;
    list-style: none;
    margin-right: -150px;
}
.menu-nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color:rgba(255,255,255,.7);
    font-weight: 700;
}
.menu-nav li a:hover{
    color: orange;
}
.order li{
    list-style: none;
    background-color: orange;
    width: 130px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order li a{
    color: #fff;
    text-decoration: none;
}
.order li:hover{
    opacity: 0.8;
}
.pg2-container-diemden{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 17px;
    color: #666;
    justify-content: space-around;
    margin-left: 10%;
}
.description-pg2{
    width: 62%;
    margin-right: 4%;
}
.link-info-pg2{
    margin-left: 4%;
    width: 30%;
}
.link-info-pg2{
    display: flex;
    flex-direction: column;
}
.link-info-pg2 h2{
    margin-top: 0;
    font-size: 20px;
    color: #666;
    margin-bottom: 40px;
}
.link-info-pg2 a{
    text-decoration: none;
}
@media screen and (max-width: 819px){
    .pg2-container-diemden{
        display: block;
    }
    .description-pg2{
       width: 100%;
       margin: 0;
    }
    .link-info-pg2{
        margin: 0;
    }
}
@media screen and (max-width: 389px){
    .pg2-container-diemden{
        display: block;
    }
    .description-pg2{
       width: 100%;
       margin: 0;
    }
    .link-info-pg2{
        margin: 0;
    }
}
.diemden-pg3{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #f8f8f2;
}
.pg3-container-diemden{
    width: 78%;
    margin-left: 13%;
    font-size: 17px;
    color: #666;
    line-height: 1.6rem;
}
.pg3-container-diemden h1{
    font-size: 50px;
    margin-bottom: 0;
    font-family: "Noto Serif";
    font-weight: 400;
    color: black;
    margin-bottom: 40px;
}
.sub-list-diemden-pg3 img{
    width: 100px;
    height: 100px;
    margin-right: 30px;
}
.sub-list-diemden-pg3{
    display: flex;
    margin-top: 50px;
    width: 48%;
    margin-right: 5%;
    margin-bottom: 40px;
}

.sub-list li{
    display: list-item;
}
.pg3-container-diemden h4{
   font-family: "Noto Serif";
   font-weight: 400;
   font-size: 30px;
   margin: 0;
   color: black;
}
.list-diemden-pg3{
    display: flex;
    
}
@media screen and (max-width: 819px){
    .sub-list-diemden-pg3{
        display: flex;
        margin-top: 50px;
        width: 100%;
    }
    
    .list-diemden-pg3{
        display: block;
        
    }
}
@media screen and (max-width: 389px){
    .sub-list-diemden-pg3{
        display: flex;
        margin-top: 50px;
        width: 100%;
    }
    
    .list-diemden-pg3{
        display: block;
        
    }
}

.img-slider-pg4 img{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.content-slider-pg4
{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(179, 174, 174, 0.521);

}
.content-slider-pg4 h1{
    font-family: "Noto Serif";
   font-weight: 400;
   font-size: 40px;
   margin-bottom: 0;
}
.content-slider-pg4 p{
    font-size: 17px;
    color: #666;
}
.content-slider-pg4 a{
    font-size: 17px;
    text-decoration: none;
    color: orange;
    font-weight: 700;
    
}
.slick-prev{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
   margin-left: 10%;
    background: none;
    font-size: 50px;
    border: none;
    color: #bbb2b2;
    z-index: 2;
}
.slick-prev :hover{
    color: black;
}
.slick-next{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 10%;
   background: none;
    font-size: 50px;
    border: none;
    color: #bbb2b2;
    z-index: 2;
}
.slick-next :hover{
    color: black;
}
.container-pg5-diemden{
    padding-top: 160px;
    padding-bottom: 160px;
    display: flex;
    align-items: center;
    font-size: 17px;
    
}
.diemden-pg5
{
    border-bottom: 1px solid rgba(179, 174, 174, 0.521);
}
.pg5-content{
    margin-left: 13%;
   margin-right: 10%;
}
.pg5-content h1{
    font-family: "Noto Serif";
    font-weight: 500;
    font-size: 40px;
}
.pg5-content p{
    color: #666;
}
.pg5-img {
    margin-right: 13%;
    
}
.pg5-img img{
    width: 500px;
    height: 650px;
}
.pg5-content button{
    width: 130px;
    height: 50px;
    background-color: orange;
    border: none;
    color: #fff;
    font-weight: 700;
}
.pg5-content button:hover{
    background-color: rgba(255, 166, 0, 0.507);
}
#footer{
    margin-top: 90px;
    margin-bottom: 90px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.info h1{
    font-size: 20px;
    color: #666;
}
.info p{
    color: #666;
}
.logo img{
    width: 100px;
    height: 70px;
}
.link-search img
{
    margin: 10px;
}
.info-link a{
    text-decoration: none;
    font-size: 17px;
    color: #666;
}
.info-link {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.sub-info{
    margin-top: 30px;
    
}
.sub-info p{
    font-size: 17px;
    color: #666;
    margin-bottom: 10px;
    margin-top: 5px;
}
.info-contact h1{
    font-size: 20px;
    color: #666;
}