
body{
    font-size: 13px;
    font-family: "Noto Sans";
    margin: 0;
    color: #fff;
}
.video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(max-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
    }
}
#main-menu >div >div{
    padding-left: 50px;
    padding-right: 50px;
   
}
#main-menu{
    width: 100%;
}
#main-menu .sub-menu{
    display: flex;
    justify-content: space-between;
}
#main-menu .sub-menu>ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-menu .sub-menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    color: rgba(255,255,255,.7);
}
#main-menu .sub-menu a:hover
{
    color: orange;
}
.nav-bar{
    padding-top: 30px;
    padding-bottom: 30px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo img
{
    width: 100px;
    height: 70px;
}
.menu-nav{
    display: flex;
    list-style: none;
    margin-right: -150px;
}
.menu-nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color:rgba(255,255,255,.7);
    font-weight: 700;
}
.menu-nav li a:hover{
    color: orange;
}
.order li{
    list-style: none;
    background-color: orange;
    width: 130px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order li a{
    color: #fff;
    text-decoration: none;
}
.order li:hover{
    opacity: 0.8;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 75px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
}
.content h4{
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    margin-top: 0;
}
.content
{
    text-align: left;
    margin-left: 12%;
    margin-top: 18%;
}





.why-travel {
    height: 1400px;
    width: 100%;
    background-color: rgb(201, 241, 228);
    margin-top: auto;
    margin-top: -80px;
    color: black;
}
.content {
    font-weight: bold;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-why {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif, 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px grey;
}

.content-gird {
    height: 1050px;
    display: grid;
    grid-template-columns: 20% 18% 24% 18% 20%;
}

.gird-2 img {
    object-fit: contain;
    height: 80px;
}

.map-travel,
.Positive_impact,
.Cb-mb {
    margin-top: 150px;
    margin-right: 70px;
    height: 300px;
    width: 200px;
}

.map-travel img,
.Positive_impact img,
.Cb-mb img {
    display: flex;
    margin-left: 50px;
}

.map-travel h3,
.Positive_impact h3,
.Cb-mb h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.map-travel p,
.Positive_impact p,
.Cb-mb p {
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;

}

.Positive_impact {
    margin-left: 130px;
}

.pic_pos {
    position: relative;
    margin-left: 30px;
    height: 880px;
}

.gird-3 {
    margin-top: 30px;
}

.img_pos {
    position: absolute;
    height: 430px;
    width: 300px;

}

.img_pos2 {
    position: absolute;
    padding: 0px;
    margin-top: 370px;
    margin-left: 180px;
    height: 295px;
    width: 230px;
}

.Cb-mb {
    margin-top: 0px;
    margin-left: 140px;
}

.Cb-mb img {
    height: 80px;
    width: 80px;
}

.gird-4 {
    margin-left: 90px;
}

.gird-4 p {
    margin-top: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.img_pos3 {
    position: relative;
    height: 350px;
    width: 300px;
    margin-top: 630px;
    margin-left: 400px;
    border: 2px solid;
}


.page4
{
    height: 980px;
    width: 100%;
    background-image: url(/images/why/resort-1-768x514.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
*{
    color: white;
}
.contentkhampha
{
    height: 830px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
}
.content h2
{
    font-size: 50px;
}
.content h1
{
    font-size: 100px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.location
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 200px;
}