body {
    font-size: 13px ;
    font-family: "Noto Sans";
    margin: 0;
}

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(max-aspect-ratio: 16/9) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9) {
    .video {
        width: auto;
        height: 100%;
    }
}

#main-menu>div>div {
    padding-left: 50px;
    padding-right: 50px;

}

#main-menu {
    position: absolute;
    top:0;
    width: 100%;
}

#main-menu .sub-menu {
    display: flex;
    justify-content: space-between;
}

#main-menu .sub-menu>ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-menu .sub-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    color: rgba(255, 255, 255, .7);
}

#main-menu .sub-menu a:hover {
    color: orange;
}

.nav-bar {
    padding-top: 30px;
    padding-bottom: 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    width: 120px;
    height: 100px;
}

.menu-nav {
    display: flex;
    list-style: none;
    margin-right: -150px;
}

.menu-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
    font-weight: 700;
}

.menu-nav li a:hover {
    color: orange;
}

.order li {
    list-style: none;
    background-color: orange;
    width: 130px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order li a {
    color: #fff;
    text-decoration: none;
}

.order li:hover {
    opacity: 0.8;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 75px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
}

.content h4 {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    margin-top: 0;
}

.content {
    text-align: left;
    margin-left: 12%;
    margin-top: 30%;
}
.page-3-container{
    padding-top: 150px;
    padding-bottom:150px ;
    padding-left: 15%;
    background-color: #a2d4f089;
}
.content-text-pg3
{
   
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-right: 100px;
    margin-top: 450px;
}
.content-text-pg3 p{
    font-size: 15px;
}
.content-text-pg3 h2{
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 0;
    
}
.slider-item-pg3{
    position: relative;
}
.img-pg3{
    height: 700px;
}
.img-pg3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title-carousel-pg3{
    position: absolute;
    top:20px;
    left:50px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}
.content-carousel-pg3{
    position: absolute;
    max-width: 260px;
    margin: 0 auto;
    bottom: 30px;
    left: 30px;
    right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Wulkan Display Medium",serif;
}
.content-carousel-pg3 h4{
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    margin: 0;
}
.content-carousel-pg3 p{
    color: #fff;
    line-height: 1.125rem;
    font-family: "Basetica Light",sans-serif;
    font-size: .875rem;
}
.content-carousel-pg3 button{
    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
}
.slick-initialized .slick-slide
{
    margin: 0 15px;
}
.content-carousel-pg3 button:hover{
    background-color: #fff;
    color: black;
}
.slick-prev{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color:#fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
    z-index: 2;
    display: none;
    font-size: 20px;
    border: 2px dotted ;
}
.slick-prev:hover{
    background-color: #6dc1ee6b;
}
.slick-next{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color:#fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
    z-index: 2;
    font-size: 20px;
    border: 2px dotted ;
}
.slick-next:hover{
    background-color: #6dc1ee6b;

}
.sub-title-pg5 {
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.title-pg5 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.title-pg5 h2 {
    font-size: 50px;
    width: 320px;
    font-family: "Wulkan Display Medium", serif;
    margin: 0;
    font-weight: 600;
}

.container-pg5{
    width: 1300px;
    margin: 0px auto;
    padding-top: 100px;
    padding-bottom: 200px;
}
.content-card{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}
.content-card li{
    width: 360px;
    height: auto;
    margin-bottom: 20px;
}
.img-card img{
    width: 360px;
    height: 580px;
}
.img-card{
    position: relative;
}
.title-img {
    position: absolute;
    margin: 0 auto;
    max-width: 220px;
    top: 20px;
    left: 0;
    right: 0;
}

.title-img h4{
    color: #fff;
    font-size: 34px;
    font-family: "Wulkan Display Medium", serif;
}
.title-img p{
    margin: 0;
    display: inline;
}


.sub-card{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.card-content button{
    width: 170px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
    background: none;
}
.card-content p{
    font-size: 17px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}
.card-content button:hover{
    background-color: #00bfff;
    color: #fff;
}
#page-2 {
    width: 100%;
    background-color: rgb(201, 241, 228);
    margin-top: 300px;
    color: black;
    height: 1420px;
}

.content-why {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif, 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px grey;
}

.sub-title-pg2
{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    font-family: "Wulkan Display Medium",serif;
    padding: 30px;
    font-size: 2.25rem;
}
.content-gird {
    height: 1050px;
    display: grid;
    grid-template-columns: 20% 18% 24% 25% 15%;
}

.gird-2 img {
    object-fit: contain;
    height: 80px;
    margin-top: -100px;
}

.map-travel,
.Positive_impact,
.Cb-mb {
    margin-top: 150px;
    margin-right: 70px;
    height: 300px;
    width: 200px;
}

.map-travel img,
.Positive_impact img,
.Cb-mb img {
    display: flex;
    margin-left: 50px;
}

.map-travel h3,
.Positive_impact h3,
.Cb-mb h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.03em;
    font-family: "Basetica Light",sans-serif;
}

.map-travel p,
.Positive_impact p,
.Cb-mb p {
    font-size: 16px;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.01em;
    font-family: serif;
    
}

.Positive_impact {
    margin-left: 130px;
}

.pic_pos {
    position: relative;
    margin-left: 30px;
    height: 880px;
}

.gird-3 {
    margin-top: 30px;
}

.img_pos {
    position: absolute;
    height: 450px;
    width: 330px;
    transform: rotate(-3deg);
}

.img_pos2 {
    position: absolute;
    padding: 0px;
    margin-top: 370px;
    margin-left: 180px;
    height: 345px;
    width: 270px;
    /* transform: rotate(-3deg); */
}

.Cb-mb {
    margin-top: -110px;
    margin-left: 140px;
}

.Cb-mb img {
    height: 80px;
    width: 80px;
}

.gird-4 {
    margin-left: 90px;
}

.gird-4 p {
    margin-top: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.page4 {
    height: 980px;
    width: 100%;
    background-image: url(/images/why/resort-1-768x514.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.contentkhampha {
    height: 830px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentkhampha h2 {
    font-size: 20px;
    color: #fff;
    font-family: 600;
}

.contentkhampha h1 {
    font-size: 120px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
}

.btnResort {
    width: 200px;
    height: 50px;
    background: none;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 17px;
    font-weight: 600;

}

.btnResort:hover {
    background-color: #fff;
    color: black;
}

.location {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.location img {
    width: 20px;
}

.location h4 {
    font-size: 15px;
    margin: 0;
    color: #fff;
    font-weight: 200;
}


.content-page-6 {
    color: black;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.8rem;
}

.title-page-6 {
    text-align: center;
}

.conten-page6 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 150px;
}

.imgpage6 {
    margin-top: 2rem;
    object-fit: contain;
    height: 670px;
    width: 485px;
    text-align: center;
}

.content-page6left {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 365px;
}
#footer{
    margin-top: 90px;
    margin-bottom: 90px;
    border-top: 1px solid rgba(192, 185, 185, 0.644);
}
.footer-container{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.info h1{
    font-size: 20px;
    color: #666;
}
.info p{
    color: #666;
}
.logo img{
    width: 100px;
    height: 70px;
}
.link-search img
{
    margin: 10px;
}
.info-link a{
    text-decoration: none;
    font-size: 17px;
    color: #666;
}
.info-link {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.sub-info{
    margin-top: 30px;
    
}
.sub-info p{
    font-size: 17px;
    color: #666;
    margin-bottom: 10px;
    margin-top: 5px;
}
.info-contact h1{
    font-size: 20px;
    color: #666;
}